
<!-- Right side block -->
<table border="0" cellpadding="0" cellspacing="0" width="<!--[$rcolwidth]-->"><!--170-->
  <tr>
    <td align="left" width="153"><img name="BlockRTop" src="<!--[$themepath]-->/images/BlockRTop.gif" width="153" height="9" border="0"></td>
    <td align="left" width="100%" bgcolor="#006699"></td>
    <td bgcolor="#006699" align="right"><img src="<!--[$themepath]-->/images/TRcorner.gif" width="9" height="9" border="0"></td>
  </tr>
  <tr>
    <td class="BlockContent" colspan="2" valign="top" style="background-image:url(<!--[$imagepath]-->/BlueStripeBgrnd.gif);">
<!--[if ! empty($title) ]--><!--[* Display title if there is one *]-->
      <h4 class="BlockTitleRight"><!--[$title]--></h4>
<!--[/if]-->
      <div id="bid<!--[$bid]-->"><!--[$content]--></div>
	</td>
    <td width="9" height="21" bgcolor="#006699"></td>
  </tr>
  <tr>
    <td align="left" width="153"><img name="BlockRBott" src="<!--[$themepath]-->/images/BlockRBott.gif" width="153" height="9" border="0"></td>
    <td align="left" width="100%" bgcolor="#006699"></td>
    <td bgcolor="#006699"><img src="<!--[$themepath]-->/images/BRcorner.gif" width="9" height="9"></td>
  </tr>
</table><br />
<!-- End right side block -->
