<table border="0" cellspacing="2" cellpadding="3" width="100%">
  <tr> 
    <td class="article-table" align="left">
	  <!--[$preformat.catandtitle]--> 
    </td>
	<td class="article-table" align="right">
	  	<!--[pnml name=_POSTEDBY]--> : <!--[$info.informant]-->
		<!--[articleadminlinks sid=$info.sid]-->
    </td>
  </tr>
</table> 
<table border="0" cellspacing="2" cellpadding="3" width="100%"> 
  <tr>
    <td class="article-table" align="left"> 
	  <span class="article-table-topic"><!--[$preformat.searchtopic]--></span>
	  <!--[$preformat.fulltext]-->
	</td>
  </tr>
</table>