<table border="0" cellspacing="1" cellpadding="0" width="100%">
  <tr> 
	<td class="article-table" align="left">
	  <!--[$preformat.catandtitle]-->
	</td>
  </tr>
  <tr>
    <td class="article-table">
	  <!--[$preformat.searchtopic]--> <!--[$info.hometext]--><br /><br /><!--[$preformat.notes]-->
	</td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="2" cellpadding="0">
  <tr>
    <td class="article-table" style="width:80px" align="left">
	  <!--[$info.counter]-->&nbsp;<!--[pnml name=_READS]-->
	</td>
	<td class="article-table" align="right"> 
	  <!--[$info.fulltext|count_words]--> <!--[pnml name="_WORDSMORE"]-->
	</td>
  </tr>
</table>