
<!-- Begin article -->
<div class="ArticleBlock">
  <div class="ArticleHead"><h4 class="storytitle"><!--[$preformat.catandtitle]--></h4>
	<div class="pn-sub" align="right"><SPAN class="pnleft"><!--[pnml name=_POSTEDBY]-->: <!--[$info.informant]--> <!--[pnml name=_ON]--> <!--[$info.longdatetime]--></SPAN>
	<!--[$info.counter]--> <!--[pnml name=_READS]-->
	</div>
	<!--[articleadminlinks sid=$info.sid]-->
  </div>
  <div class="Article">
	<div class="TopicImgLeft"><div class="clear"><!--[$preformat.searchtopic]--><!--Spacer div fudge for Opera 7--></div></div>
	<!-- To change picture from left to right, change "TopicImgLeft" to "TopicImgRight" -->
    <!--[$info.hometext]--><BR /><BR />
    <div class="note"><!--[$preformat.notes]--><BR /><BR /></div>
	<div align="right" class="pn-sub clear"><!--[$preformat.more]--><!--[* $info.fulltext|count_words *]--> <!--[* pnml name="_WORDSMORE" *]--></div>
  </div>
</div>
<!-- End article -->
