
<!-- Begin article -->
<div class="ArticleBlock">
  <div class="ArticleHead"><h4 class="storytitle"><!--[$preformat.catandtitle]--></h4>
	<div class="pn-sub" align="right"><SPAN class="pnleft"><!--[pnml name=_POSTEDBY]-->: <!--[$info.informant]--> <!--[pnml name=_ON]--> <!--[$info.longdatetime]--></SPAN>
	<a href="<!--[$links.print]-->"><!--[pnml name=_PRINT]--><!--[$preformat.print]--></a>&nbsp;&nbsp;<a href="<!--[$links.send]-->"><!--[pnml name=_EMAILFRIEND]--><!--[$preformat.send]--></a>
	</div>
	<!--[articleadminlinks sid=$info.sid]-->
  </div>
  <div class="Article">
	<div class="TopicImgLeft"><div class="clear"><!--[$preformat.searchtopic]--><!--Spacer div fudge for Opera 7--></div></div>
	<!-- To change picture from left to right, change "TopicImgLeft" to "TopicImgRight" -->
    <!--[$preformat.fulltext]--><div class="clear"><!--Spacer to ensure image won't overlap container--></div>
  </div>
</div>
<!-- End article -->
