<!--  BEGIN: Default Theme Index  -->
<div style="background-color:white;">
	<div class="block-title">
	<strong><!--[$preformat.title]--></strong>&nbsp;<!--[$preformat.reads]-->
	<a href="<!--[$links.searchtopic]-->"><img style="float:left;padding:5px;" src="images/topics/<!--[$info.topicimage]-->" alt="<!--[$info.topicname]-->" /></a>
	</div>
	<div class="content" style="text-align:left;"><!--[$info.hometext]--><br /><br /><!--[$preformat.notes]--></div>
</div>
<div style="clear:both">&nbsp;</div>
<div class="content" style="width:100%;">
	<span style="text-align:left"><!--[pnml name="_POSTEDBY"]--> <a href="user.php?op=userinfo&amp;uname=<!--[$info.informant]-->"><!--[$info.informant]--></a> <!--[pnml name="_ON"]--> <!--[$info.longdate]--></span>
	<span style="text-align:right;"><!--[$preformat.readmore]-->&nbsp;&nbsp;<!--[$preformat.comment]--></span>
</div>
<br />
<!--  END: Default Theme Index  -->