
<!-- Begin article -->
<div class="ArticleBlock">
  <div class="ArticleHead"><H4 class="storytitle">
  	<img src="<!--[$themepath]-->/images/article.gif" width="17" height="18" alt="" /><!--[$preformat.catandtitle]--></H4>
	<span class="pn-sub" align="left"><!--[pnml name=_POSTEDBY]-->: <!--[$info.informant]--> <!--[pnml name=_ON]--> <!--[$info.briefdatetime]--></SPAN>
	<hr class="clear" size="1" width="100%" style="color:<!--[$color2]-->" />
	<div class="pn-sub" align="right"><SPAN class="pnleft"><!--[articleadminlinks sid=$info.sid]--></span>
	<a href="<!--[$links.print]-->"><!--[pnml name=_PRINTTHISSTORY]--> <!--[$preformat.print]--></a>&nbsp;&nbsp;
	<a href="<!--[$links.send]-->"><!--[pnml name=_EMAILTOAFRIEND]--> <!--[$preformat.send]--></a>
	</div>
  </div>
  <div class="Article">
	<div class="TopicImageLeft clear"><!--[$preformat.searchtopic]--></div>
	<!--[*  <a href="<!--[$links.searchtopic]-->"> 
      <img class="TopicImageLeft" src="<!--[$nukepath]-->/images/topics/<!--[$info.topicimage]-->" alt="<!--[$info.topictext]-->" title="<!--[$info.topictext]-->" /></a> *]-->
      <!--[$preformat.fulltext]-->
	  <div class="clear"></div>
  </div>
</div>
<!-- End article -->
