<!--  BEGIN: Default Theme Article  -->
<div>
<strong><a href="<!--[$links.searchtopic]-->"><span class="storycat"><!--[$info.topicname]--></span></a>
<span class="storycat">&nbsp;::&nbsp;<!--[$info.title]-->&nbsp;::</span></strong>
(<!--[$info.counter]--> <!--[pnml name="_READS"]-->)
<br />
<!--[articleadminlinks sid=$info.sid]-->
<br />
<span class="pn-sub">
<!--[pnml name="_POSTEDBY"]-->
<a href="user.php?op=userinfo&uname=<!--[$info.informant]-->"><!--[$info.informant]--></a>
<!--[pnml name="_ON"]--> <!--[$info.longdatetime]-->
<br /><br />
</span>
<!--[$info.maintext]-->
<div style="text-align:center" class="content">
<!--[$preformat.send]-->&nbsp;&nbsp;<!--[$preformat.print]-->
</div>
</div>
<!--  END: Default Theme Article  -->