<!-- Theme Index Start -->
<!--[$preformat.title]-->
<div><!--[$info.hometext]--></div>
<div class="pn-sub"><!--[$preformat.notes]--></div>
<div class="pn-sub"><!--[$preformat.send]-->&nbsp;&nbsp;<!--[$preformat.print]-->&nbsp;&nbsp;<!--[$preformat.comment]--></div>
<div class="pn-sub" style="float:right;">
<!--[pnml name="_POSTEDBY"]-->&nbsp;
<a href="user.php?op=userinfo&amp;uname=<!--[$info.informant]-->"><!--[$info.informant]--></a>
&nbsp;<!--[pnml name="_ON"]-->&nbsp;
<!--[$info.longdate]-->
<!--[$info.counter]-->
</div>
<br style="clear: both" />
<hr />
<!-- Theme Index End -->