<!--  Start Center Block  -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="left" valign="top">
			<table style="background-color:<!--[$color4]-->" width="100%" border="0" cellspacing="0" cellpadding="4">
				<tr>
					<td class="pn-title"><img src="<!--[$imagepath]-->/quadrato.gif" width="10" height="9" alt="" /><!--[$title]--></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr style="background-color:<!--[$sepcolor]-->;">
		<td><img src="<!--[$imagepath]-->/pix-t.gif" width="1" height="1" alt="" /></td>
	</tr>
	<tr>
		<td align="left" valign="top" class="pn-normal"><!--[$content]--></td>
	</tr>
</table>
<br />
<!--  End Center Block  -->
